<!--NewsDetail---->
@using App.Aplication
@model App.Domain.Entities.Data.News

@if (Model != null)
{
	@Html.Action("BannerTopOfNewsPage", "Banner", new { menuId = ViewBag.BannerId, title = ViewBag.Title })

	<div class="mkdf-container">
		<div class="mkdf-container-inner clearfix">
			<div class="mkdf-grid-row mkdf-grid-large-gutter">
				<div class="mkdf-page-content-holder mkdf-grid-col-8">
					<div class="mkdf-blog-holder mkdf-blog-standard mkdf-blog-pagination-standard mkdf-masonry-images-fixed" data-blog-type="standard" data-next-page="2" data-max-num-pages="2" data-post-number="5" data-excerpt-length="45">
						<div class="mkdf-blog-holder-inner">
							<div class="mkdf-post-text-main">
								<h3 itemprop="name" class="entry-title mkdf-post-title">
									@Model.Title
								</h3>              
								
							</div>
							@Html.Raw(Model.Description)
						</div>

						<div class="mkdf-blog-pagination-wp">
						</div>

					</div>
				</div>
				<div class="mkdf-sidebar-holder mkdf-grid-col-4">
					@Html.Action("MenuNavNews", "MenuNav", new { virtualId = ViewBag.VirtualId, area = "" })

				</div>
			</div>
		</div>
	</div>
}

<!--/NewsDetail---->
