<!---GetMenuLinkSideBar-->
@using App.Aplication
@model IEnumerable<App.FakeEntity.Menu.MenuNavViewModel>
@if (Model.IsAny())
{
	var lv1 = Model.FirstOrDefault();

	<div class="widget woocommerce widget_product_categories">
		<div class="mkdf-widget-title-holder">
			<h5 class="mkdf-widget-title"> @lv1.MenuName</h5>
		</div>
		@if (lv1 != null && lv1.ChildNavMenu.IsAny())
		{
			<ul class="product-categories">
				@foreach (var child in lv1.ChildNavMenu)
				{
					<li class="cat-item cat-item-99 current-cat"><a href="@Url.Action("GetContent", "Menu", new {area = "", menu = child.SeoUrl})"> @child.MenuName</a></li>

				}
			</ul>
		}

	</div>


}

<!---/GetMenuLinkSideBar-->
