<!---GetTopHead-->
@using App.Aplication
@model IEnumerable<App.FakeEntity.Menu.MenuNavViewModel>

<div class="top-header">
	<div class="mkdf-row-grid-section">

		@if (Model != null)
		{
			<div class="nav-top-links">
				@foreach (var lv1 in Model)
                {
					<a class="first-item" href="@Url.Action("GetContent", "Menu", new { menu = lv1.SeoUrl, area = "" })">
						<img alt="@lv1.MenuName" src="@lv1.ImageSmallSize.ValidateImage()" />@lv1.MenuName
					</a>
                }
			</div>
		}
		
	</div>
</div>
<!---/GetTopHead-->