<!----BannerTopOfNewsPage-->

@using App.Aplication
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model != null)
{
	foreach (var item in Model)
	{
		<div class="mkdf-title-holder mkdf-centered-with-breadcrumbs-type mkdf-has-bg-image mkdf-bg-parallax" style="height: 400px; background-image: url('@(item.ImgPath.ValidateImage())'); background-position: center 0px;" data-height="400">
			<div class="mkdf-title-image">
				<img itemprop="image" src="url('@(item.ImgPath.ValidateImage())')" alt="a">
			</div>
			<div class="mkdf-title-wrapper" style="height: 400px">
				<div class="mkdf-title-inner">
					<div class="mkdf-grid">
						<div class="mkdf-title-info">
							<h1 class="mkdf-page-title entry-title" style="color: #ffffff">@ViewBag.Title</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	}

}
<!----/BannerTopOfNewsPage-->