<!---PostCategories-->
@model IEnumerable<App.Domain.Entities.Data.Post>

@Html.Action("BannerTop", "Banner", new { menuId = ViewBag.BannerId, postTitle = ViewBag.Title })

<div class="mkdf-container">
	<div class="mkdf-container-inner clearfix">
		<div class="mkdf-grid-row">
			<div class="mkdf-sidebar-holder mkdf-grid-col-3">
				@Html.Action("SearchBoxSideBar", "SearchBox", new
				{
					area = "",
					productOld = ViewBag.ProductOld,
					productNew = ViewBag.ProductNew,
					attributes = ViewBag.Attributes,
					prices = ViewBag.Prices,
					proAttrs = ViewBag.ProAttributes,
					virtualId = ViewBag.VirtualId
				})
			</div>
			<div class="mkdf-page-content-holder mkdf-grid-col-9">
				@Html.Partial("_PostCategory.Post", Model)
			</div>

		</div>
	</div>
</div>
<!---/PostCategories-->