<!---Footer--->
@model App.Domain.Entities.GlobalSetting.ContactInformation
@if (Model != null)
{
	<footer class="mkdf-page-footer">
		<div class="mkdf-footer-top-holder">
			<div class="mkdf-footer-top-inner mkdf-grid">
				<div class="mkdf-grid-row mkdf-footer-top-alignment-left">
					<div class="mkdf-column-content mkdf-grid-col-4">
						
						
						<div id="divFooterLogo"></div>

						<div id="text-2" class="widget mkdf-footer-column-1 widget_text">
							<div class="textwidget">
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
							</div>
						</div><div class="widget mkdf-button-widget">
							<a itemprop="url" href="about-us.html" target="_self" style="color: #ffffff" class="mkdf-btn mkdf-btn-small mkdf-btn-simple mkdf-btn-custom-hover-color mkdf-btn-icon" data-hover-color="#ffcc00">
								<span class="mkdf-btn-text">Read More</span>
								<span aria-hidden="true" class="mkdf-icon-font-elegant arrow_carrot-right "></span>
							</a>
						</div>
					</div>
					<div class="mkdf-column-content mkdf-grid-col-4">
						<div id="text-8" class="widget mkdf-footer-column-2 widget_text">
							<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Contact Us</h5></div>			<div class="textwidget"></div>
						</div>
						<a class="mkdf-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffcc00" href="contact-us/index.html" target="_self" style="color: #ffffff;font-size: 13px">
							<span class="mkdf-icon-element icon-location-pin"></span>			<span class="mkdf-icon-text " style="color: #9c9c9c">774 NE 84th St Miami, FL 33879</span>
						</a>

						<a class="mkdf-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffcc00" href="tel:%20+1%20(800)%20990%208877" target="_self" style="color: #ffffff;font-size: 13px;margin: 2px 0">
							<span class="mkdf-icon-element icon-phone"></span>			<span class="mkdf-icon-text " style="color: #9c9c9c">Call us FREE +1 (800) 990 8877</span>
						</a>

						<a class="mkdf-icon-widget-holder mkdf-icon-has-hover" data-hover-color="#ffcc00" href="mailto:%20office@example.com" target="_self" style="color: #ffffff;font-size: 13px">
							<span class="mkdf-icon-element icon-envelope"></span>			<span class="mkdf-icon-text " style="color: #9c9c9c">office@example.com</span>
						</a>
						<div class="widget mkdf-separator-widget">
							<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal">
								<div class="mkdf-separator" style="border-style: solid"></div>
							</div>
						</div><div class="widget mkdf-button-widget">
							<a itemprop="url" href="contact-us/index.html" target="_self" style="color: #ffffff" class="mkdf-btn mkdf-btn-small mkdf-btn-simple mkdf-btn-custom-hover-color mkdf-btn-icon" data-hover-color="#ffcc00">
								<span class="mkdf-btn-text">Contact Us</span>
								<span aria-hidden="true" class="mkdf-icon-font-elegant arrow_carrot-right "></span>
							</a>
						</div>
					</div>
					<div class="mkdf-column-content mkdf-grid-col-4">
						<div class="widget mkdf-contact-form-7-widget ">
							<div class="mkdf-widget-title-holder"><h5 class="mkdf-widget-title">Newsletter Subscribe</h5></div>			<div role="form" class="wpcf7" id="wpcf7-f2010-o1" lang="en-US" dir="ltr">
								<div class="screen-reader-response"></div>
								<form action="#wpcf7-f2010-o1" method="post" class="wpcf7-form cf7_custom_style_1" novalidate="novalidate">
									<div style="display: none;">
										<input type="hidden" name="_wpcf7" value="2010" />
										<input type="hidden" name="_wpcf7_version" value="4.9.1" />
										<input type="hidden" name="_wpcf7_locale" value="en_US" />
										<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2010-o1" />
										<input type="hidden" name="_wpcf7_container_post" value="0" />
									</div>
									<div class="mkdf-cf7-newsletter-footer">
										<span class="mkdf-cf7-email-newsletter-footer"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Enter your email" /></span></span><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" />
									</div>
									<div class="wpcf7-response-output wpcf7-display-none"></div>
								</form>
							</div>
						</div>
						<div id="text-5" class="widget mkdf-footer-column-3 widget_text">
							<div class="textwidget">
								<p>Don’t forget to follow us on:</p>
							</div>
						</div>
						@{Html.RenderPartial("Socials/_Social.FB_Link");}

						@{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
						@{Html.RenderPartial("Socials/_Social.Pinterest_Link");}
						@{Html.RenderPartial("Socials/_Social.Twitter _Link");}
						@{Html.RenderPartial("Socials/_Social.Youtube_Link");}
					</div>
				</div>
			</div>
		</div>
		<div id="divFooterBottom"></div>
		</footer>
}

	<script>
		jQuery(function () {

			jQuery.post('@Url.Action("GetFooterLogo", "Summary")')
				.done(function (data) {
					jQuery("#divFooterLogo").html(data.list);
				});

			jQuery.post('@Url.Action("GetFooterBottom", "Summary")')
				.done(function (data) {
					jQuery("#divFooterBottom").html(data.list);
				});
		})

	</script>

<!---/GetInformationFooter--->
