 <!---GetLogo--->
@using App.Aplication
@model App.Domain.Entities.GlobalSetting.SystemSetting

@if (Model != null)
{
	<div class="mkdf-logo-wrapper">
		<a itemprop="url" href="@Url.Action("Index", "Home", new { area = "" })" title='@Model.Title' style="height: 120px;">
			<img class="mkdf-normal-logo" src="@Model.LogoImage.ValidateImage()"  height="150" alt="@Model.Title " />
		</a>
	</div>
}
<!---/GetLogo--->